certifi==2020.12.5
chardet
click==7.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
hvac==0.10.6
MarkupSafe==1.1.1
mock==4.0.3
prometheus-client==0.9.0
requests==2.25.1
snowflake-connector-python
urllib3==1.26.2
Werkzeug==1.0.1
